In [17]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score ,confusion_matrix, classification_report 
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Titanic-Dataset.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,FamilySize,isAlone,Embarked_Q,Embarked_S,title_Miss,title_Mr,title_Mrs,title_Rare
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,2,0,False,True,False,True,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,2,0,False,False,False,False,True,False
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,1,1,False,True,True,False,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,2,0,False,True,False,False,True,False
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,1,1,False,True,False,True,False,False

In [5]:
df['title']= df['Name'].str.extract(r"([A-Za-z]+)\.",expand=False)

In [6]:
df['title'].value_counts()

title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Mlle          2
Major         2
Ms            1
Mme           1
Don           1
Lady          1
Sir           1
Capt          1
Countess      1
Jonkheer      1
Name: count, dtype: int64

In [7]:
df['title']=df['title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 
                                   'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'],'Rare')

In [8]:
df['title']=df['title'].replace('Mlle','Miss')
df['title']=df['title'].replace('Ms','Miss')
df['title']=df['title'].replace('Mme','Mrs')

In [9]:
df['FamilySize'] =df['SibSp']+df['Parch']+1

In [10]:
df['isAlone']=1
df['isAlone'].loc[df['FamilySize']>1]=0

C:\Users\Abhijith\AppData\Local\Temp\ipykernel_624\3083067596.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['isAlone'].loc[df['FamilySize']>1]=0
C:\Users\Abhijith\AppData\Local\Temp\ipykernel_624\3083067596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['isAlone'].loc[df['FamilySize']>1]=0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  title        891 non-null    object
 13  FamilySize   891 non-null    int64
 14  isAlone      891 non-null    int64
dtypes: float64(2), int64(7), object(6)
memory usage: 104.5+ KB

In [12]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
title            0
FamilySize       0
isAlone          0
dtype: int64

In [13]:
df['Age']=df['Age'].fillna(df.groupby('Pclass')['Age'].transform('mean'))

In [14]:
df.drop('Cabin',axis =1,inplace=True)

In [15]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [16]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [18]:
encoder = LabelEncoder()
df['Sex'] = encoder.fit_transform(df['Sex'] )

In [25]:
df = pd.get_dummies(df, columns=['Embarked', 'title'], drop_first=True)

In [ ]:
Absoute_df= df.drop(