In [21]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report ,confusion_matrix , precision_score
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('Titanic-Dataset.csv')

In [11]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [12]:
df["Sex"]=df["Sex"].map({"male":0,"female":1})

In [13]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [14]:
x=df[["Pclass", "Sex", "Age", "Fare"]]
y=df['Survived']

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [38]:
knn = KNeighborsClassifier()
Lg = LogisticRegression()
svm=SVC()

In [26]:
Models = [knn,Lg,svm]

In [37]:
for model in Models:
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print(f"accuracy of model :{model.__class__.__name__}{accuracy_score(y_test,y_pred)}")
    print(f"classification report of model:{model.__class__.__name__}{classification_report(y_test,y_pred)}")
    print(f"confusion matrix  of model:{model.__class__.__name__}{confusion_matrix(y_test,y_pred)}")

accuracy of model :KNeighborsClassifier0.6759776536312849
classification report of model:KNeighborsClassifier              precision    recall  f1-score   support

           0       0.71      0.78      0.74       108
           1       0.61      0.52      0.56        71

    accuracy                           0.68       179
   macro avg       0.66      0.65      0.65       179
weighted avg       0.67      0.68      0.67       179

confusion matrix  of model:KNeighborsClassifier[[84 24]
 [34 37]]
accuracy of model :LogisticRegression0.7374301675977654
classification report of model:LogisticRegression              precision    recall  f1-score   support

           0       0.76      0.83      0.79       108
           1       0.70      0.59      0.64        71

    accuracy                           0.74       179
   macro avg       0.73      0.71      0.72       179
weighted avg       0.73      0.74      0.73       179

confusion matrix  of model:LogisticRegression[[90 18]
 [29 42]]
accuracy of model :SVC0.6703910614525139
classification report of model:SVC              precision    recall  f1-score   support

           0       0.66      0.92      0.77       108
           1       0.70      0.30      0.42        71

    accuracy                           0.67       179
   macro avg       0.68      0.61      0.59       179
weighted avg       0.68      0.67      0.63       179

confusion matrix  of model:SVC[[99  9]
 [50 21]]